<h1><%= @theme.name %></h1>

<div id="container">
  <ul>
    Fact:
    <% x = @content.keys.sample %>
    <% y = @content[x] %>
    <% z = x.gsub(/TIL/, "") %>
    <% z[0].upcase! %>
    <li><%= link_to z,y, target: "_blank" %></li>
    <% tip = @tips.sample %>
    Tip:
    <li><%=tip.description %></li>
  </ul>
</div>
