<h1>Smalltalk.me Terms & Conditions</h1>

<p> Welcome to Smalltalk.me by continuing to browse and use this website you are agreeing to comply with and be bound by the following terms
  and conditions of usage </p>

<ul>
  <li> The content on the webpage you are about to view is for your general information and use only.
    It is subject to change without notice. </li>
    <li> use this information at your own risk</li>
  </ul>
