<div class="pt40 mb40 border-top">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-center"><b>Click here to schedule a call. Just in case.</b><br></p>
        <hr style="width:200px">
      </div>
    </div>
    <div class="row">
      <!-- Content 1 -->
      <div>
        <div class="text-center">
         <a href="<%= twilio_path %>" style= "float: center; width: 15%; margin-bottom: 20px", class="btn btn-lg btn-info">Abort!</a>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /cta -->
