<!-- Begin Skills -->
<div class="pt40 mb40 border-top">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-center">The <b>Basics</b><br></p>
        <hr style="width:200px">
      </div>
    </div>
    <div class="row">
      <!-- Content 1 -->
      <div class="col-sm-4" data-sr="enter left over 1s">
          <h4><span class="ion-chatboxes bordered-icon-sm mr15"></span> Advice.</h4>
          <p class="no-margin">We've hand curated some of the best conversation advice from around the web. Just check out your party theme and we will hook you up.</p>
      </div>
      <!-- Content 2 -->
      <div class="col-sm-4 mt20-xs" data-sr="enter top over 1s">
          <h4><span class="ion-lightbulb bordered-icon-sm mr15"></span> Conversation Starters.</h4>
          <p class="no-margin">Check out some of our curated conversation starters below. They're organinzed by theme so you're sure to find some stories which will light up the room.</p>
      </div>
      <!-- Content 3 -->
      <div class="col-sm-4 mt20-xs" data-sr="enter right over 1s">
          <h4><span class="ion-ios7-telephone bordered-icon-sm mr15"></span> A Back-Up Plan</h4>
          <p class="no-margin">We'll give you a call if you really need to get out the party. Don't worry, your secret is safe with us.</p>
      </div>
    </div>
    <div class="row mt20">
    </div>
  </div><!-- /container -->
</div><!-- /cta -->
<!-- End Skills -->
