<div id="about" class="background-light-grey pt50 pb50">
  <div class="container">

    <!-- Begin Accordion Row -->
    <div class="row">
      <!-- Video -->
      <div class="col-sm-12">
        <div class="heading mb20"><h4><span class="ion-android-developer mr15"></span>We Are Small Talk.</h4></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinia, <a class="tooltip-active" data-toggle="tooltip" data-placement="top" title="Tooltip on top">adipiscing</a> nunc nec, hendrerit sapien. Sed in scelerisque tortor. Praesent porttitor odio non ullamcorper gravida.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinisent porttitor odio non ullamcorper gravida.</p>
        <!-- List -->
        <ul class="list-arrow-2-color">
            <li><small>Etiam mollis pharetra adipiscing. Etiam porta in sem vitae suscipit. </small></li>
            <li><small>Consectetur adipiscing elit. Maecenas tempsam suscipit sagittis vestibulum.</small></li>
            <li><small>Nulla volutpat aliquam velit</small></li>
            <li><small>Faucibus porta lacus fringilla vel</small></li>
        </ul>
      </div><!-- /column -->
    </div><!-- /row -->
    <!-- End Accordion Row -->

  </div><!-- /container -->
</div><!-- /content -->
