<!-- Begin Carousel -->
<div class="carousel">
  <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHome" data-slide-to="1"></li>
      <li data-target="#carouselHome" data-slide-to="2"></li>
    </ol>

    <!-- Begin Wrapper for slides -->
    <div class="carousel-inner">

      <!-- Begin Item 1 -->
      <div class="item active">
        <!-- Item BG -->
        <div class="background-main" style="background-image:url('<%= asset_path("backgrounds/bg1.jpg") %>');" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
          <div class="container">
            <div class="row carousel-content center-vertically">
              <!-- Content -->
              <div class="fadeInTop-animated" data-animation="fadeInTop">
                <div class="carousel-description col-sm-12">
                  <h1 class="heavy text-white"><span class="carousel-title-bgclear">smalltalkto.me</span></h1><br>
                  <h3 class="text-white">It's a big world out there, but we're here at help. If you're feeling nervous about an upcoming social event, <b>smalltalkto.me</b> is the resource for you. We have have plenty of conversation tips and some great stories for you to share</h3>
                </div>
              </div>


            </div><!-- /content container -->
          </div><!-- /container -->
        </div><!-- /bg div -->
      </div><!-- /item -->
      <!-- End Item 1 -->

      <!-- Begin Item 2 -->

        <!-- Begin Item 1 -->
        <div class="item">
          <!-- Item BG -->
          <div class="background-main" style="background-image:url('<%= asset_path("backgrounds/bg2.jpg") %>');" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
            <div class="container">
              <div class="row carousel-content center-vertically">
                <!-- Content -->
                <div class="fadeInTop-animated" data-animation="fadeInTop">
                  <div class="carousel-description col-sm-12">
                    <h1 class="heavy text-white"><span class="carousel-title-bgclear">smalltalkto.me</span></h1><br>
                    <h3 class="text-white">Would a back-up plan make your life a little better? We are here to help there too. Just schedule a call below and smalltalk will call with an emergency. The perfect out.</h3>
                  </div>
                </div>


              </div><!-- /content container -->
            </div><!-- /container -->
          </div><!-- /bg div -->
        </div><!-- /item -->

      <!-- End Item 3 -->

      <div class="item">
        <!-- Item BG -->
        <div class="background-main" style="background-image:url('<%= asset_path("backgrounds/bg3.jpg") %>');" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
          <div class="container">
            <div class="row carousel-content center-vertically">
              <!-- Content -->
              <div class="fadeInTop-animated" data-animation="fadeInTop">
                <div class="carousel-description col-sm-12">
                  <h1 class="heavy text-white"><span class="carousel-title-bgclear">smalltalkto.me</span></h1><br>
                  <h3 class="text-white">If you'd like to save some tips, feel free to log in. When you come back after another successful party, all your tips will be waiting. We love our users.</h3>
                </div>
              </div>


            </div><!-- /content container -->
          </div><!-- /container -->
        </div><!-- /bg div -->
      </div><!-- /item -->
    <!-- End Wrapper for slides -->

    <!-- Controls -->
    <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
      <span class="ion-ios7-arrow-left carousel-arrow-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
      <span class="ion-ios7-arrow-right carousel-arrow-right" aria-hidden="true"></span>
    </a>

  </div><!-- /carousel id div -->
</div><!-- /carousel div -->
<!-- End Carousel -->
