<section class="border-top pt40 mb15">
  <div id="portfolio" class="container">

    <!-- Begin Title -->
    <div class="row" data-sr="enter right">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <div class="heading"><h4>Our Work</h4></div>
      </div>
    </div>

    <!-- Portfolio Filter -->
    <div data-sr="enter left" class="row mb30">
      <ul class="nav nav-pills col-xs-12 text-center">
        <li class="filter" data-filter="all">All</li>
        <li class="filter" data-filter="print">Networking?</li>
        <li class="filter" data-filter="web">Purely Social?</li>
        <li class="filter" data-filter="illustration">Singles Mixer</li>
      </ul>
    </div>

    <!-- Portfolio Items -->
    <div class="row">
      <ul id="myPortfolio" class="col-sm-12 no-padding text-center">
        <!-- Begin Item 1 -->
        <% @themes.each do |theme| %>
          <li onclick="" class="item illustration col-sm-4">
            <div class="border">
              <!-- Project Thumb -->
              <a href="/themes/<%= theme.id %>">
                <%= image_tag "themes/stock#{theme.id}.jpg", class: "img-responsive", alt: "..." %>
              </a>
              
              <div class="caption">
                <h2><%= theme.name %></h2>
              </div>
            </div>
          </li>
        <% end %>
        <!-- End Item 1 -->
      </ul><!-- /portfolio ul -->
    </div><!-- /row -->

    <!-- Lead Text -->
    <div class="row">
      <div class="mb20 col-sm-6 col-sm-offset-3 text-center">
        <span class="lead"><strong>Themes:</strong><br>
          <h4>We've got some themed content. So you have fun things to say.</h4></span>
      </div>
    </div>

  </div><!-- /container -->
</section><!-- /content -->
