<section class="border-top pt40 mb15">
  <div id="portfolio" class="container">

    <!-- Begin Title -->
    <div class="row" data-sr="enter right">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <div class="heading">
          <h4>Themes</h4>
        </div>
          <p>Who are you hanging out with tonight?</p>
      </div>
    </div>

    <!-- Portfolio Filter -->
    <div data-sr="enter left" class="row mb30">
      <ul class="nav nav-pills col-xs-12 text-center">
        <li class="filter" data-filter="all">All</li>
        <li class="filter" data-filter="networking">Networking</li>
        <li class="filter" data-filter="social">Purely Social</li>
        <li class="filter" data-filter="mixer">Singles Mixer</li>
      </ul>
    </div>

    <!-- Portfolio Items -->
    <div class="row">
      <ul id="myPortfolio" class="col-sm-12 no-padding text-center">
        <!-- Begin Item 1 -->
        <% @themes.each do |theme| %>
          <a href="/themes/<%= theme.id %>">
            <li onclick="" class="item <%= theme.category %> col-sm-4">
              <div class="border">
                <!-- Project Thumb -->
                  <%= image_tag "themes/stock#{theme.id}.jpg", class: "img-responsive", alt: "..." %>

                <div class="caption">
                  <h2><%= theme.name %></h2>
                </div>
              </div>
            </li>
          </a>
        <% end %>
        <!-- End Item 1 -->
      </ul><!-- /portfolio ul -->
    </div><!-- /row -->

  </div><!-- /container -->
</section><!-- /content -->
