<h1> Welcome To Small Talk </h1>


<div id="container">


  Who are you hanging out with?
  <ul>

    <%= form_tag method: :get do %>
    <%= select_tag('theme[id]', options_for_select(@themes.collect{ |theme| [theme.name, theme.id] })) %>
    <%= submit_tag "Get facts" %>
    <% end %>
  </ul>




  <div class="btn">
    <%= link_to "Abort!!", twilio_path, method: :get %>

  </div>

</div>
