

<div class="jumbotron text-center">
    <h1>Small Talk</h1>
    <p>We'll make all your wildest dreams come true!</p>
</div>

<div id="container">
    <div class= "text-center">
      <h3 class = "panel-title"> Who are you hanging out with? </p>
</div>

  <ul>
    <div class="text-center">
      <%= form_tag method: :get do %>
      <%= select_tag('theme[id]', options_for_select(@themes.collect{ |theme| [theme.name, theme.id] })) %>
      <button type="submit" class="btn btn-danger">Get Advice</button>
      <% end %>
    </div>
  </ul>
</div>

<div class="abort-button">
  <div class="text-center">
   <a href="/twilio" style= "display: block; width: 100%;", data-toggle="modal" class="btn btn-lg btn-danger">Abort!</a>
</div>
