<%= link_to "Back", root_path %>
	
<h1>Our Mission:</h1>

<h2>Here at Small Talk, we believe in making awkward people comfortable.</h2>

<img src="http://www.assistantmagazine.com/wp-content/uploads/2015/06/26The-Shining.jpg" alt="shining">

