<%= link_to "Back", root_path %>
	
<h1>Our Mission:</h1>

<h2>Here at Small Talk, we strive to remove the awkwardness from social events, <br>and allow YOU to become the life of the party.</h2>

<img src="http://www.assistantmagazine.com/wp-content/uploads/2015/06/26The-Shining.jpg" width="550" height="415" alt="shining">

