<div class="container-fluid">

  <div class="text-center">
    <div class="header">
      <h2>Request a Custom Theme</h2>
    </div>
  </div>

  <div class="pt20 mb40" id="">

    <div class="row equality">
      <div class="col-lg-6 col-md-6 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="mt15" style="width: 100%;">
                <div class="panel-body">
                  <img class="ig-valencia img-responsive" style="background-color:#000;" src="https://s-media-cache-ak0.pinimg.com/564x/a2/e6/34/a2e6344cede38ef3a3348e8a7885af7d.jpg" alt="pennywise">
                  <div class="caption center">
                    <h2 class="center-vertically">Reqest A Theme</h2>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Make a Request</strong></h3>
            <div class="mt15" style="width: 100%;">
              <h4>To request that we cater to your particular party, please email us at info@smalltalkto.me</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
