<div class="container">
  <form id="contactform" role="form" action="#" method="POST">
    
    <div class="form-group">
      <h3>ABORT!!</h3>
      <p class="help-block">
        If it all goes south, schedule a call and we can give you a nice excuse to get out of town. (calls immdiately right now)
      </p>
    </div>

    <div class="form-group">
      <input class="form-control" type="text" name="phone" id="phoneNumber" placeholder="(651) 555-7889">
    </div>
    <div id="abort-call">
      <button type="submit" class="btn btn-default">Give Me My ABORT Call</button>
    </div>
  </form>
</div>
