@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

body {
  background-color: #4B7399;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}


a {
  color: #0000FF;
}

#copyright {
  text-align: center;
}

h1 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: black;
}

#container {
  width: 30%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.jumbotron {
  background-color: #4B7399;
  color: #fff;
  margin-bottom: -20px;
}

.container-fluid {
  padding: 20px 20px;
  background-color: #4B7399;
  color: white;
}

