
.caption {
    width:100%;
    bottom: 1rem;
    position: absolute;
    text-align: center;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.caption h2 {
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-right: 10%;
    margin-bottom: 10%;
}

.ig-valencia {
  -webkit-filter: brightness(0.75)  sepia(0.25) opacity(0.95) saturate(1.25) contrast(0.9) hue-rotate(-25deg);
  filter: sepia(0.25) saturate(1.25) contrast(0.9) opacity(0.95) hue-rotate(-25deg);
}
