<div class="container">
  <div class="row">
    <!-- Our Mission -->
    <div class="col-sm-3">
      <div class="heading-footer "><h4>Our Mission</h4></div>
      <!-- <%= link_to "Our Mission", mission_path %></p> -->
        <a href="/mission" class="btn-lg btn-primary">Learn About Us</a>
      </a>
    </div>

    <!-- Requesting a theme -->
    <div class="col-sm-3 mg25-xs">
      <div class="heading-footer">
        <h4 class="text-primary">Requesting a Theme</h4></div>
        <!-- <p class="text-primary">This text is important.</p> -->
        <!-- <%= link_to "Request a Theme", request_form_path %> -->
        <a href="/request_form" class="btn-lg btn-primary">Tell Us your idea</a>
    </div>

    <!-- Careers -->
    <div class="col-sm-3 mg25-xs">
      <div class="heading-footer"><h4>Careers</h4></div>
        <!-- <%= link_to "Careers", careers_path %> -->
        <a href="/careers" class="btn-lg btn-primary">Wanna Join The Team?</a>
    </div>

    <!-- Customer Support -->
    <div class="col-sm-3 hidden-xs">
      <div class="heading-footer"><h4>Customer Support</h4></div>
          <!-- <%= link_to "Customer Support", support_path %> -->
          <a href="/support" class="btn-lg btn-primary">Get Support</a>
    </div>
  </div><!-- /row -->

<!-- Contact Info -->
<div class="row">
  <hr class="dark-hr">
  <div class="col-sm-11 col-xs-10">
    <p class="contact-us"> Contact Information for Smalltalkto.me</p>
    <p> <span class="ion-home footer-info-icons"></span><small class="address">11 Broadway, Manhattan, NY</small><br>
      <span class="ion-email footer-info-icons"></span><small class="email">smalltalk.me@gmail.com</small><br>
      <span class="ion-ios7-telephone footer-info-icons"></span><small class="phone-number">631-906-4502</span>
      <!-- <small class="address">+11192386513</small> -->
    <!-- <a href="mailto:info@raleway.com">info@raleway.com</a></small> -->
  </div>

  <!-- Copyright -->
  <div class="row">
    <hr class="dark-hr">
    <div class="col-sm-11 col-xs-10">
      <p class="copyright">© 2015 smalltalkto.me. All rights reserved.</p>
    </div>
    <div class="col-sm-1 col-xs-2 text-right">
      <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
    </div>
  </div><!-- /row -->
</div><!-- /container -->

<!-- <div class="container-fluid">
  <p id="copyright">&copy;2016</p>
  <div class="col-sm-3 mg25-xs">
                            <div class="heading-footer"><h4>Contact us</h4></div>
                            <p><span class="ion-home footer-info-icons"></span><small class="address">228 Park Ave S New York, NY 10003</small></p>
                            <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@raleway.com">info@raleway.com</a></small></p>
                            <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">+11192386513</small></p>
                        </div> -->
</div>
<!-- <p><span class="ion-home footer-info-icons"></span><small class="address">228 Park Ave S New York, NY 10003</small></p>
<p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@raleway.com">info@raleway.com</a></small></p>
<p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">+11192386513</small></p> use this code for the very
bottom of the page for a contact list  -->
