<div class="container">
  <div class="row">
    <!-- Our Mission -->
    <div class="col-sm-3">
      <div class="heading-footer">
        <h4>Our Mission</h4>
      </div>
        <a href="/mission">Learn more</a> about what we do here at Small Talk.
    </div>

    <!-- Requesting a theme -->
    <div class="col-sm-3 mg25-xs">
      <div class="heading-footer">
        <h4 class="text-primary">Your Ideas</h4>
      </div>
        Have an idea for the site, or want to request a theme we don't currently provide? Click <a href="/request_form">here.</a>
    </div>

    <!-- Careers -->
    <div class="col-sm-3 mg25-xs">
      <div class="heading-footer"><h4>Careers</h4></div>
        <a href="/careers">Explore</a> exciting job opportunities within our dynamic culture and growing team.
    </div>

    <!-- Contact -->
    <div class="col-sm-3 mg25-xs">
        <div class="heading-footer"><h4>Contact</h4></div>
        <p><span class="ion-home footer-info-icons"></span><small class="address">11 Broadway, Suite 260</small></p>
        <p><span class="footer-info-icons"></span><small class="address"> &nbsp &nbsp New York, NY 10004</small></p>
        <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@smalltalkto.me">info@smalltalkto.me</a></small></p>
        <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">16465028761</small></p>
    </div>
  </div><!-- /row -->

  <!-- Copyright -->
  <div class="row">
    <hr class="dark-hr">
    <div class="col-sm-6 col-xs-3">
      <p class="copyright">© 2016 smalltalkto.me. All rights reserved.</p>
    </div>
    <div class="col-sm-4 col-xs-2 text-center">
      <p class="copyright">Made with ♡ at <%= link_to "The Flatiron School", "http://flatironschool.com" %></p>
    </div>
    <div class="col-sm-2 col-xs-1 text-right">
      <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
    </div>
  </div><!-- /row -->
</div><!-- /container -->

<!-- <p><span class="ion-home footer-info-icons"></span><small class="address">228 Park Ave S New York, NY 10003</small></p>
<p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@raleway.com">info@raleway.com</a></small></p>
<p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">+11192386513</small></p> use this code for the very
bottom of the page for a contact list  -->
